<footer class="text-gray-600 body-font fixed-bottom-0 w-full">
    <div class="bg-sky-400">
        <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
            <p class="text-zinc-950 text-sm text-center sm:text-left">© 2024 腰痛トリ</p>
            <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
                <a href="#" class="text-zinc-950 ml-3">利用規約</a>
                <a href="#" class="text-zinc-950 ml-3">プライバシーポリシー</a>
                <a href="#" class="text-zinc-950 ml-3">お問い合わせ</a>
            </span>
        </div>
    </div>
</footer>
